.wFormContainer {
  border: none;
  box-shadow: 0px 2px 6px 0px rgba($shadow-color,0.50);
  max-width: rem(708);
  margin: 0 auto;
}

.wForm {
  background: $form-bg-color;
  font-family: $roboto;
  padding: 3rem 3rem 0.5rem 3rem;
}

.wForm .oneField {
  margin-bottom: 1rem;
}

// Form title
.wForm .wFormTitle {
  font-family: $robotoCondensed;
  font-size: rem(26);
  color: $form-title-color;
  margin-bottom: 3rem;
  text-align: center;
}

// Label
.wForm label.preField,
.wForm label.postField {
  color: $label-color;
  display: inline-block;
  font-weight: $bold;
  font-size: rem(18);
  margin-bottom: 0.5rem;

  &.reqMark::after {
    color: $error-color;
    content: ' *';
    font-weight: $normal;
  }
}

// Input wrapper
.wForm .inputWrapper {
  display: block;
}

// Text input
.wForm input[type=text] {
  background: $white;
  border: rem(1) solid $input-border-color;
  color: $black;
  display: block;
  font-size: rem(21);
  font-weight: bold;
  padding: 1rem;
  outline: none;
  width: 100%;
  @include transition(box-shadow 0.2s);
  @include transition(border 0.1s);

  @include placeholder {
    font-family: $roboto;
    font-size: rem(18);
    font-weight: $bold;
  }

  //&:hover,
  &:focus {
    border: 3px solid $active-input-border-color;
    box-shadow: 0px 2px 4px 0px rgba($shadow-color,0.50);
    @include transition(box-shadow 0.2s);
    @include transition(border 0.1s);
  }
}

// Checkboxes
.wForm .oneChoice.checkbox {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  label.postField {
    padding-left: 2.2rem;
    position: relative;

    &::before {
      background: $white;
      border: rem(2) solid $input-border-color;
      content: '';
      display: block;
      left: 0;
      height: rem(22);
      padding: 0.05rem;
      position: absolute;
      top: -0.25rem;
      width: rem(22);
    }
  }
  input[type="checkbox"] {
    display: none;

    &:checked + label:before {
      background: $white url('../img/checkbox-bg.png') center center no-repeat;
    }
  }
}

// Radio buttons
.wForm .oneChoice.radio {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  label.postField {
    padding-left: 2.2rem;
    position: relative;

    &::before {
      background: $white;
      border: rem(2) solid $input-border-color;
      border-radius: 50%;
      content: '';
      display: block;
      left: 0;
      height: rem(22);
      padding: 0.05rem;
      position: absolute;
      top: -0.25rem;
      width: rem(22);
    }
  }
  input[type="radio"] {
    display: none;

    &:checked + label:before {
      background: $action-color;
      background: $white url('../img/radio-bg.png') center center no-repeat;
    }
  }
}

// Text area
.wForm textarea {
  background: $white;
  border: rem(1) solid $input-border-color;
  color: $black;
  display: block;
  font-size: rem(21);
  font-weight: bold;
  padding: 1rem;
  outline: none;
  width: 100%;
  @include transition(box-shadow 0.2s);
  @include transition(border 0.1s);

  @include placeholder {
    font-size: rem(18);
    font-weight: $bold;
  }

  &:hover,
  &:focus {
    border: 3px solid $active-input-border-color;
    box-shadow: 0px 2px 4px 0px rgba($shadow-color,0.50);
    @include transition(box-shadow 0.2s);
    @include transition(border 0.1s);
  }
}

// Select
.selectWrapper {
  background: $white url('../img/select-arrow.png') calc(100% - 1rem) center no-repeat;
  border: rem(1) solid $input-border-color;
  position: relative;

  &:hover {
    border: 3px solid $active-input-border-color;
    box-shadow: 0px 2px 4px 0px rgba($shadow-color,0.50);
    @include transition(box-shadow 0.2s);
    @include transition(border 0.1s);
  }

  select {
    background: transparent;
    border: none;
    color: $black;
    font-size: rem(18);
    font-weight: $bold;
    width: 100%;
    padding: 1.125rem 1rem;
    outline: none;
    @include appearance(none);

    &:hover {
      padding-right: 0.5rem;
    }
  }
}

// Duplicate response
// .wForm .duplicateSpan a {
//   background: $action-color;
//   border: none;
//   border-radius: 0;
//   box-shadow: none;
//   color: $white;
//   font-size: rem(22);
//   font-weight: $bold;
//   padding: 1rem;
//   text-decoration: none;
// }

// Submit button
.wForm input[type=submit] {
  background: $action-color;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $white !important; // override for "please wait" button
  cursor: pointer;
  display: block;
  font-size: rem(22);
  font-weight: $bold;
  margin-left: auto;
  margin-right: auto;
  width: rem(206);
  height: rem(66);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  @include transition(0.2s background);

  &:hover {
    background: $action-hover-color;
    @include transition(0.2s background);
  }
}

// Errors
.wForm form .errFld {
  border: none;
}

.wForm form .errMsg {
  font-family: $roboto;
  font-size: rem(14);
  font-style: italic;
  margin-top: 0.5rem;
}

// Support text
.supportInfo {
  background: $form-bg-color;
  margin: 0;
  padding: 0 0 3rem 0;
  text-align: center;

  a {
    color: $help-text-color;
    font-size: rem(17);
    font-style: italic;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Charter logo
.charter-logo {
  text-align: center;
  margin-top: 4rem;

  img {
    height: auto;
    width: rem(273);
  }
}

// Help text
.wForm .field-hint {
  background: none;
  color: $field-hint-color;
  font-size: rem(15);
  font-weight: $normal;
}
