.wForm {
  background: $form-bg-color;
}

// Form title
.wForm .wFormTitle {
  text-align: center;
}

// Label
.wForm label {
  color: $label-color;
  font-size: rem(18);
}

// Text input
.wForm input[type=text] {
  background: $white;
  border: rem(1) solid $input-border-color;
  color: $black;
  display: block;
  font-size: rem(21);
  font-weight: bold;
  padding: 1rem 2rem;
  outline: none;
  width: 100%;

  &:focus {
    border: 3px solid $active-input-border-color;
    box-shadow: 0px 2px 4px 0px rgba($shadow-color,0.50);
  }
}
