.wForm .section.group {
  margin-bottom: 2.5rem;
  overflow: hidden;
}

.wForm .actions {
  margin-top: 2rem;
}

.full {
  clear: both;
  width: 100%;
}


.third {
  float: left;
  margin-right: 2%;
  margin-bottom: 0;
  width: 32%;

  @include small {
    float: none;
    width: 100%;
  }

  &.last {
    float: right;
    margin-right: 2px;

    @include small {
      float: none;
    }
  }
}

.two-thirds {
  float: left;
  margin-right: 2%;
  width: 64%;

  @include small {
    width: 100%;
  }

  &.last {
    float: right;
    margin-right: 0;

    width: 100%;

  }
}

.half {
  float: left;
  margin-right: 2%;
  width: 48%;

  @include small {
    width: 100%;
  }

  &.last {
    float: right;
    margin-right: 0;
  }
}

.clear-left {
  clear: left;
}
