// COLORS
$form-bg-color:             #F2F2F2;
$label-color:               #545455;
$help-text-color:           #9B9B9B;
$field-hint-color:          #676768;
$form-title-color:          #545455;
$input-border-color:        #979797;
$active-input-border-color: #7AC143;
$placeholder-color:         #B2B2B2;
$error-color:               #EF4044;
$action-color:              #7AC143;
$action-hover-color:        #659A3C;
$black:                     #000000;
$white:                     #FFFFFF;
$shadow-color:              #898989;

// Fonts
$robotoCondensed: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;

$normal: 400;
$bold:   700;
$italic: italic;
