// COLORS
$form-bg-color:         #F2F2F2;
$label-color:           #545455;
$help-text-color:       #545455;
$input-border-color:    #979797;
$placeholder-color:     #B2B2B2;
$active-border-color:   #7AC143;
$error-color:           #EF4044;
$button-bg-color:       #7AC143;
